.DS_Store
__pycache__
.cache
.vscode
.ipynb_checkpoints
.mypy_cache
.coverage
.idea
.nyc_output
.pytest_cache

env
htmlcov
coverage

data_analysis/**/*.pickle
data_analysis/**/*.json
config/config.json
